extends layout

block content

  h1= title
  -
    let results = [
      {
        "egg_varities": "Cheese",
        "egg_quantity": "10lb",
        "egg_price": 50
      },
      {
        "egg_varities": "Tomato",
        "egg_quantity": "20lb",
        "egg_price": 30
      },
      {
        "egg_varities": "Salty",
        "egg_quantity": "30lb",
        "egg_price": 120
      },                   
    ]
  div(class= "container-fluid")
    div(class = "row")
      each item,index in results
        div(class= "col-sm-2" , onclick=`buy(${index})`) #{item.egg_varities}<br>
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.egg_quantity}<br>
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.egg_price}<br>

  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }